<% include include/head%>
<%
 for(var i=0;i<articles.length;i++){
    var article=articles[i];
     %>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" width="50px" height="50px" src="<%
                 if(article.titleimg){
                     %><%=article.titleimg%><%
                 }else{
                     %>http://p2.gexing.com/G1/M00/DA/44/rBACE1Or-q6DO1B3AAAhdSV6v7o914_200x200_3.jpg?recache=20131108<%
                 }
                  %>">
                <%=article.user.username%>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
            <%=article.content%>
        </div>



    </div>
<%
 }
%>

<% include include/foot%>